<h3>{{title}}</h3>

<div>

<div class="form-container">
  <mat-form-field class="form-item">
    <input matInput [matDatepicker]="fromPicker" placeholder="From date" [(ngModel)]="fromDate">
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="max-width: 80px">
    <input matInput placeholder="From time" type="time" [(ngModel)]="fromTime">
  </mat-form-field>

</div>
  <mat-form-field>
    <input matInput [matDatepicker]="toPicker" placeholder="To" [(ngModel)]="toDate">
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="max-width: 80px">
    <input matInput placeholder="To time" type="time" [(ngModel)]="toTime">
  </mat-form-field>

  <button mat-raised-button (click)="OnRefreshClick()">Refresh</button>
</div>

<div [hidden]="!chart" style="height: 200px;">
  <canvas id="{{chartId}}">{{ chart }}</canvas>
</div>